[Unit]
Description=reactions

[Service]
ExecStart=/home/pi/.pyenv/shims/python3.10 -m reactions --rpi --no-screen
Restart=always

[Install]
WantedBy=multi-user.target
